.Notifications {
    border: 1px dashed red;
    padding: 5px;
    position: relative;
    font-size: 3vmin;
}

.Notifications ul {
    color: red;
}

.Notifications li[data-priority="default"] {
    color: blue;
}
.Notifications li[data-priority="urgent"] {
    color: red;
}