.Notifications {
    border: 1px dashed red;
    padding: 5px;
    position: relative;
    font-size: 3vmin;
}

.Notifications li[data-notification-type="default"] {
    color: blue;
}
.Notifications li[data-notification-type=urgent] {
    color: red;
}