.App-footer {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    border-top: 4px solid red;
  }